form
{
    margin: 20px auto;
    text-align: center;
}
input
{
    padding: 10px;
    margin-right: 10px;
}
button{
    padding: 10px;
    background-color: aliceblue;
    color: black;
    border: none;
    cursor: pointer;
}