@use 'sass:color';
$form-bg-color: #fff;

form {
    margin: 20px auto;
    text-align: center;
    max-width: 500px;
    background-color: $form-bg-color;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);

    input {
        padding: 10px;
        margin-right: 10px;
        width: 80%;
        border-radius: 5px;
        border: 1px solid #ccc;
    }

    #loading {
        font-size: 18px;
        color: #555;
        text-align: center;
        margin-top: 20px;
    }

    .result-card,
    .error-card {
        background-color:  #d9534f;
        border-radius: 8px;
        padding: 20px;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        margin-top: 20px;
        text-align: center;
        font-size: 18px;
    }

    .result-card h2 {
        color: #333;
        font-size: 24px;
        margin-bottom: 10px;
    }

    .error-card {
        color: #d9534f;
        text-align: center;
    }

    button {
        padding: 10px;
        background-color: pink;
        color: black;
        border: none;
        cursor: pointer;
        border-radius: 5px;
        font-size: 16px;
        transition: background-color 0.3s ease;

        &:hover {
            background-color: color.scale(#3498db, $lightness: -10%);
        }
    }
}